.icon-photo{
	background:url('icons/photo.png') no-repeat center center;
}
.icon-movie{
	background:url('icons/movie.png') no-repeat center center;
}
.icon-excel{
	background:url('icons/excel.png') no-repeat center center;
}
.icon-one{
	background:url('icons/1.png') no-repeat center center;
}
.icon-two{
	background:url('icons/2.png') no-repeat center center;
}
.icon-three{
	background:url('icons/3.png') no-repeat center center;
}
.icon-upquestion{
	background:url('icons/upquestion.png') no-repeat center center;
}
.icon-downquestion{
	background:url('icons/downquestion.png') no-repeat center center;
}
.icon-commit{
	background:url('icons/commit.png') no-repeat center center;
}
.icon-attibutes{
	background:url('icons/attibutes.png') no-repeat center center;
}
.icon-bankalt{
	background:url('icons/back_alt.png') no-repeat center center;
}
.icon-forwardalt{
	background:url('icons/forward_alt.png') no-repeat center center;
}
.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-view{
	background:url('icons/view.gif') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-up{
	background:url('icons/arrow_large_up.png') no-repeat;
}
.icon-ding{
	background:url('icons/m00.gif') no-repeat;
}
.icon-xiading{
	background:url('icons/xia.png') no-repeat;
}
.icon-down{
	background:url('icons/arrow_large_down.png') no-repeat;
}
.icon-setting{
	background:url('icons/options.png') no-repeat;
}
.icon-contactblue{
	background:url('icons/contact_blue_edit.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/folder_modernist_opened.png') no-repeat;
}
.icon-inport{
	background:url('icons/applications_windows.png') no-repeat;
}
.icon-paste{
	background:url('icons/application_go.png') no-repeat;
}
.icon-imedit{
	background:url('icons/box_edit.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-about{
	background:url('icons/information.png') no-repeat;
}
.icon-exit{
	background:url('icons/exit.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-deleone{
	background:url('icons/action_delete.png') no-repeat ;
}
.icon-deleall{
	background:url('icons/no.png') no-repeat ;
}
.icon-group-green{
	background:url('icons/group_green.png') no-repeat  center center;
}

