<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irandoo.app.interf.mapper.UserAccountJsonMapper">
	<select id="getAllList" parameterType="map" resultType="com.irandoo.app.interf.json.UserAccountJson">
		SELECT 
		a.id,
		a.user_id AS userId,
		a.account_type AS accountType,
		a.account_name AS accountName,
		a.account_desc AS accountDesc,
    	a.balance AS balance
		FROM t_user_account a 
		INNER JOIN t_user b ON a.user_id = b.id
		<where>
	    	 1 = 1
		     <if test="userId != null and userId != ''" >
		        AND a.user_id = #{userId}
		     </if>
		     <if test="type != null and type != ''" >
		        AND a.account_type = #{type}
		     </if>
	    </where>
	</select>
	<update id="update" parameterType="map">
		UPDATE t_user_account a SET a.balance = #{balance}
		WHERE id = #{id}
	</update>
	
</mapper>